@import url(
'https://fonts.googleapis.com/css2?family=Poppins&amp;display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
    height: 100%;
    background-image:
            linear-gradient(90deg, #9331d4, rgb(239 5 92 / 70%));
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start; /* align to top */
}

.intro-container {
    color: #fff;
    text-align: center;
}
h1{
    margin:0
}

#stave{
    background:white;
}
.piano-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:0.3em;
}

.piano-keys-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding:0;
}

.piano-keys {
    box-sizing: border-box;
    width: 4em;
    cursor: pointer;
    position: relative;
    height: 20em;
    border-radius: 0.5em;
    border: 1px solid #000;
}

.white-key {
    background-color: #fff;
}

.black-key {
    width: 2em;
    height: 13em;
    border-radius: .35em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #000;
    z-index: 2;
    margin: 0 -1em;
}

@media screen and (min-width: 576px){
    .piano-container{
        font-size:0.5em;
    }
}
@media screen and (min-width: 768px){
    .piano-container{
        font-size:0.6em;
    }
}
@media screen and (min-width: 992px){
    .piano-container{
        font-size:0.8em;
    }
}
@media screen and (min-width: 1200px){
    .piano-container{
        font-size:1em;
    }
}
@media screen and (min-width: 1400px){
    .piano-container{
        font-size:1.1em;
    }
}

