label,input,button,select{font-size: 5vw;}
body{
    background:black;
    color:white;
    font-family:sans-serif;
}

#controls { margin-bottom: 16px; }

#gridContainer {
    width: 90%;
    max-width: 90%;
    overflow-x: auto;  /* allow scroll when subdivisions are huge (e.g., 48+) */
}

#grid {
    width: 100%;
    display: grid;
; margin-top: 16px;
}
.cell {
    box-sizing: border-box;
    aspect-ratio: 1 / 1;    /* optional: keep square cells */
    width: 100%;
    border: 3px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff29;
    border-radius: 4px;
    transition: background 0.1s ease;
}
.hit { background: #ff000070; }
.active { background: #00ccff !important; }
.active.hit { background: #ff0000 !important; }
.label {margin-right: 4px; }


select, input  {
    color: #cecece;
    cursor: pointer;
    background: #515151;
    border:none;
}

select:hover {
    background-color: transparent;
    color: white;
}

select option {
    color: gray;
    width: 310px;
    padding: 10px 15px;
    height: 20px;
    cursor: pointer;
}

select option:hover {
    padding-left: 25px;
    width: 270px;
    color: #EC6F66;
}

/* -----------------------------
   Loading Screen
----------------------------- */

#loading-screen {
    position: fixed;
    inset: 0;
    background: #4dbbf4; /* simpsons blue */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    z-index: 9999;
    isolation: isolate;
}

/* Bottom SVG */
#svg-bottom {
    position: absolute;
    bottom: -100%;
    width: 100%;
    animation: slideUp 1.1s ease-out forwards;
    z-index: 2; /* IN FRONT */
}

/* Side SVG */
#svg-side {
    position: absolute;
    left: -100%;
    top: 30%;
    width: 60%;
    max-width: 500px;
    animation: slideInLeft 1s ease-out forwards;
    animation-delay: 0.4s;
    z-index: 1; /* BEHIND */
}

/* Hide app initially */
.hidden {
    display: none;
}

/* Animations */
@keyframes slideUp {
    to {
        bottom: 0;
    }
}

@keyframes slideInLeft {
    to {
        left: 33%;
    }
}

/* Iris transition */
#clip-layer {
    position: absolute;
    inset: 0;
    background: #4dbbf4;

    clip-path: circle(150vmax at 50% 50%);
}

/* Trigger close */
#loading-screen.closing #clip-layer {
    animation: irisClip 0.9s ease-in forwards;
}

@keyframes irisClip {
    to {
        clip-path: circle(0px at 50% 50%);
    }
}

/* Visible ring overlay */
#iris-ring {
    position: absolute;
    inset: 0;
    pointer-events: none;

    border-radius: 50%;
    border: 15vw solid white;

    width: 150vmax;
    height: 150vmax;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}


/* Triggered state */
#loading-screen.closing #iris {
    animation: irisClose 0.9s ease-in forwards;
}

@keyframes irisClose {
    to {
        transform: translate(-50%, -50%) scale(0);
    }
}
