@font-face {
    font-family: 'RockSalt';
    src: url('fonts/RockSalt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'RockSalt', sans-serif;
    background: #4dbbf4;
    color: #000;
    text-align: center;
}
label,input,button,select{
    font-family: 'RockSalt', sans-serif;
    font-size: 6vw;
}
input,select{
    padding:0 10px;
}

#controls { margin-bottom: 16px; }

#gridContainer {
    width: 90%;
    max-width: 90%;
    overflow-x: auto;  /* allow scroll when subdivisions are huge (e.g., 48+) */
}

#grid {
    width: 100%;
    display: grid;
; margin-top: 16px;
}
.cell {
    box-sizing: border-box;
    aspect-ratio: 1 / 1;    /* optional: keep square cells */
    width: 100%;
    border: 2px solid #180101;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fdcf08;
    border-radius: 13px;
    transition: background 0.1s ease;
}
.hit {background: #9a302b;}
.active { background: #00ccff !important; }
.active.hit { background: #ff0000 !important; }
.label {margin-right: 4px; }


select, input  {
    color: #fff;
    cursor: pointer;
    background: #4dbbf4;
    border:none;
    border-radius:0.2em;
}

select:hover {
    background-color: transparent;
    color: white;
}

/* style the play button */
.btn span {
    background: #FFF;
    display: block;
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid #000;
}
.btn:hover {
    box-shadow: 0 2px 0 #000, 0 2px 0 2px #9a302b;
}
.btn:active {
    top: 4px;
    padding-bottom: 0;
    box-shadow: 0 1px 0 #000;
}
.btn {
    position: relative;
    float: left;
    margin-right: 10px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    padding-bottom: 3px;
    border-radius: 5px;
    box-shadow: 0 2px 0 #000;
    transition: padding 0.1s, box-shadow 0.1s, top 0.1s;
    background-image: url('data:image/gif;base64,R0lGODlhBAAEAIABAAAAAAAAACH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS4wLWMwNjEgNjQuMTQwOTQ5LCAyMDEwLzEyLzA3LTEwOjU3OjAxICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1LjEgV2luZG93cyIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo5NUY1OENCRDdDMDYxMUUyOTEzMEE1MEM5QzM0NDVBMyIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo5NUY1OENCRTdDMDYxMUUyOTEzMEE1MEM5QzM0NDVBMyI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjk1RjU4Q0JCN0MwNjExRTI5MTMwQTUwQzlDMzQ0NUEzIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjk1RjU4Q0JDN0MwNjExRTI5MTMwQTUwQzlDMzQ0NUEzIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+Af/+/fz7+vn49/b19PPy8fDv7u3s6+rp6Ofm5eTj4uHg397d3Nva2djX1tXU09LR0M/OzczLysnIx8bFxMPCwcC/vr28u7q5uLe2tbSzsrGwr66trKuqqainpqWko6KhoJ+enZybmpmYl5aVlJOSkZCPjo2Mi4qJiIeGhYSDgoGAf359fHt6eXh3dnV0c3JxcG9ubWxramloZ2ZlZGNiYWBfXl1cW1pZWFdWVVRTUlFQT05NTEtKSUhHRkVEQ0JBQD8+PTw7Ojk4NzY1NDMyMTAvLi0sKyopKCcmJSQjIiEgHx4dHBsaGRgXFhUUExIREA8ODQwLCgkIBwYFBAMCAQAAIfkEAQAAAQAsAAAAAAQABAAAAgYEEpdoeQUAOw==');
}

/* style selects */
select option {
    color: gray;
    width: 310px;
    padding: 10px 15px;
    height: 20px;
    cursor: pointer;
}

select option:hover {
    padding-left: 25px;
    width: 270px;
    color: #EC6F66;
}

/* -----------------------------
   Loading Screen
----------------------------- */

#loading-screen {
    position: fixed;
    inset: 0;
    background: #4dbbf4; /* simpsons blue */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    z-index: 9999;
    isolation: isolate;
}

/* Bottom SVG */
#svg-bottom {
    position: absolute;
    bottom: -100%;
    left:0;
    width: 100%;
    animation: slideUp 1.1s ease-out forwards;
    z-index: 2; /* IN FRONT */
}

/* Side SVG */
#svg-side {
    position: absolute;
    left: -100%;
    top: 30%;
    width: 60%;
    max-width: 500px;
    animation: slideInLeft 1s ease-out forwards;
    animation-delay: 0.4s;
    z-index: 1; /* BEHIND */
}

/* Hide app initially */
.hidden {
    display: none;
}

/* Animations */
@keyframes slideUp {
    to {
        bottom: 0;
    }
}

@keyframes slideInLeft {
    to {
        left: 33%;
    }
}

/* Iris transition */
#clip-layer {
    position: absolute;
    inset: 0;
    background: #4dbbf4;
    clip-path: circle(150vmax at 50% 50%);
    animation: none;
}

#loading-screen.closing #clip-layer {
    animation: irisClip 0.9s ease-in forwards;
}

@keyframes irisClip {
    to {
        clip-path: circle(0px at 50% 50%);
    }
}

#iris-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300vmax;
    height: 300vmax;
    border-radius: 50%;
    border: 50px solid white;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 10;
}

#loading-screen.closing #iris-ring {
    animation: irisRing 0.9s ease-in forwards;
}

@keyframes irisRing {
    to {
        width: 0;
        height: 0;
        border-width: 0;
    }
}

/* Eyes anim */
#eyes {
  transform-origin: center;
  transform-box: fill-box;
  transition: transform 80ms linear;
}
#sam {
    position:absolute;
    bottom:0;
    width: 100vw;
    height: auto;
    display: none;
}

@media (max-width: 768px) and (orientation: portrait) {
    #sam {
        display: block;
    }
}